@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.blurry-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('Img/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}

.content {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    min-height: 80%;
    max-width: 400px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 5px solid #eab63e;
}

h2 {
    color: #BFA76F;
    font-size: 30px;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.profile a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.email {
    display: block;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid #fff;
}

.email:hover {
    color: #BFA76F;
}

.social-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 8px auto;
    padding: 20px 20px;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #333333;
    font-weight: bold;
    font-size: 22px;
    background-color: #DAA520;
    transition: background-color 0.3s ease;
    position: relative;
}

.social-links a:hover {
    background-color: #333333;
    color: #fff;
}

.social-links img {
    position: absolute;
    right: 20px;
    margin-left: auto;
}

.linkedin-img {
    height: 30px;
}

.portfolio-img {
    height: 40px;
}

.whatsapp-img {
    height: 30px;
}

.github-img {
    height: 35px;
}

.email-img {
    height: 30px;
}

/* Media queries */
@media (max-width: 768px) {
    .content {
        max-width: 90%;
        padding: 10px;
    }

    .profile-pic {
        width: 120px;
        height: 120px;
    }

    h2 {
        font-size: 24px;
    }

    .email {
        font-size: 18px;
    }

    .social-links a {
        width: 70%;
        padding: 15px 10px;
        font-size: 18px;
    }

    .social-links img {
        margin-right: 10px;
        height: 25px;
        right: 10px;
    }
}

@media (max-width: 480px) {
    .profile-pic {
        width: 100px;
        height: 100px;
    }

    h2 {
        font-size: 20px;
    }

    .email {
        font-size: 16px;
    }

    .social-links a {
        padding: 10px 5px;
        font-size: 16px;
    }

    .social-links img {
        height: 20px;
        right: 5px;
    }
}
